/*STYLES FOR ROOM TO SPARE*/

/*********************************
FONTS AND COLORS REFERENCE
*********************************/

/*font-family: 'Damion', cursive;*/
/*font-family: 'Roboto', sans-serif;*/
/*YELLOW: #f8f3dd;*/
/* MAROON: #840705;*/
/*GRAY: #cac7b0;*/
/*BLACK: #000000; & WHITE: #ffffff;*/

/*********************************
CONTACT PAGE RESPONSIVE MEDIA QUERIES
*********************************/

/*********************************
CONTACT PAGE CSS
*********************************/

.contact-wrapper {
	width: 100%;
	background-color: white;
}

header.contact-header {
	width: 60%;
	margin: 0 auto;
}
.flex-items {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.contact-line {
	width: 200px;
	height: 4px;
	display: inline-block;
	background-color: #840705;
	margin-bottom: 1%;
}
.section-header h2 {
	display: inline-block;
	align-self: center;
	margin: 15px;
	align-text: center;
}

.contact-body {
	width: 60%;
	margin: 0 auto;
	padding-bottom: 30px;
}
.contact-body h3 {
	font-family: 'Roboto', sans-serif;
}
address {
	font-family: 'Roboto', sans-serif;
	margin-left: 10%;
}
.contact-body a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: black;
}
.contact-body a:active:focus:hover {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: black;
	font-weight: bolder;
}
.contact-body textarea {
	width: 80%;
	height: 50px;
	border: 1px solid #cac7b0;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: black;
}
.contact-body textarea::-webkit-input-placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #cac7b0;
}






